<section>
    <div class="container p-5 ">
        <h2 class="text-center">Add products</h2>
        <form action="/admin/add-product" method="post"  enctype="multipart/form-data">
    <div class="mb-3">
  <label for="">Name</label>
  <input class="form-control" type="text" name="name">
</div>
<div class="mb-3">
      <label for="">Category</label>
  <input class="form-control" type="text" name="category">
</div>
<div class="mb-3">
    <label for="">Price</label>
  <input class="form-control" type="text" name="Price">
</div>
<div class="mb-3">
   <label for="">Description</label>
  <input class="form-control" type="text" name="Description">
</div>
<div>
    <label for="">image</label>
  <input class="form-control" type="file" name="image">
</div>
<div>
    <button type="submit" class="btn btn-success mt-4" >Submit</button>
</div>
</form>
</div>
</section>